@font-face {
  font-family: 'Persona Icon';
  src: url('../font/persona-icon.eot?73b7a3a3');
  src: url('../font/persona-icon.eot?73b7a3a3#iefix') format('embedded-opentype'),
       url('../font/persona-icon.woff2?488bc04d') format('woff2'),
       url('../font/persona-icon.woff?989a22ed') format('woff'),
       url('../font/persona-icon.ttf?c201d6d0') format('truetype'),
       url('../font/persona-icon.svg?96b67948#Persona%20Icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pi-"]:before, [class*=" pi-"]:before {
  font-family: "Persona Icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-activity::before { content: '\ea01' }
.pi-add-circle::before { content: '\ea02' }
.pi-add-plus::before { content: '\ea03' }
.pi-address::before { content: '\ea04' }
.pi-adjust::before { content: '\ea05' }
.pi-admin-center-apps::before { content: '\ea06' }
.pi-align-center::before { content: '\ea07' }
.pi-align-justify::before { content: '\ea08' }
.pi-align-left::before { content: '\ea09' }
.pi-align-right::before { content: '\ea0a' }
.pi-api::before { content: '\ea0b' }
.pi-apple::before { content: '\ea0c' }
.pi-apps::before { content: '\ea0d' }
.pi-archive-box::before { content: '\ea0e' }
.pi-arrow-circle-down::before { content: '\ea0f' }
.pi-arrow-circle-left::before { content: '\ea10' }
.pi-arrow-circle-right::before { content: '\ea11' }
.pi-arrow-circle-up::before { content: '\ea12' }
.pi-arrow-down::before { content: '\ea13' }
.pi-arrow-left::before { content: '\ea14' }
.pi-arrow-right::before { content: '\ea15' }
.pi-arrow-up::before { content: '\ea16' }
.pi-background-process::before { content: '\ea17' }
.pi-backward::before { content: '\ea18' }
.pi-banned-circle::before { content: '\ea19' }
.pi-banned-solid::before { content: '\ea1a' }
.pi-bar-graph::before { content: '\ea1b' }
.pi-blog::before { content: '\ea1c' }
.pi-blood-drop::before { content: '\ea1d' }
.pi-bold::before { content: '\ea1e' }
.pi-bookmark::before { content: '\ea1f' }
.pi-broom::before { content: '\ea20' }
.pi-brush::before { content: '\ea21' }
.pi-building::before { content: '\ea22' }
.pi-bus::before { content: '\ea23' }
.pi-calculator-check::before { content: '\ea24' }
.pi-calendar-event::before { content: '\ea25' }
.pi-calendar-history::before { content: '\ea26' }
.pi-calendar::before { content: '\ea27' }
.pi-call-off::before { content: '\ea28' }
.pi-call::before { content: '\ea29' }
.pi-camera::before { content: '\ea2a' }
.pi-caret-down::before { content: '\ea2b' }
.pi-caret-left::before { content: '\ea2c' }
.pi-caret-right::before { content: '\ea2d' }
.pi-caret-sort::before { content: '\ea2e' }
.pi-caret-up::before { content: '\ea2f' }
.pi-cart::before { content: '\ea30' }
.pi-chat::before { content: '\ea31' }
.pi-checkmark-circle-solid::before { content: '\ea32' }
.pi-checkmark-circle::before { content: '\ea33' }
.pi-checkmark-double::before { content: '\ea34' }
.pi-checkmark-verified-solid::before { content: '\ea35' }
.pi-checkmark-verified::before { content: '\ea36' }
.pi-checkmark::before { content: '\ea37' }
.pi-chevron-circle-down::before { content: '\ea38' }
.pi-chevron-circle-left::before { content: '\ea39' }
.pi-chevron-circle-right::before { content: '\ea3a' }
.pi-chevron-circle-up::before { content: '\ea3b' }
.pi-chevron-down::before { content: '\ea3c' }
.pi-chevron-left::before { content: '\ea3d' }
.pi-chevron-right::before { content: '\ea3e' }
.pi-chevron-sort::before { content: '\ea3f' }
.pi-chevron-up::before { content: '\ea40' }
.pi-chevrons-down::before { content: '\ea41' }
.pi-chevrons-left::before { content: '\ea42' }
.pi-chevrons-right::before { content: '\ea43' }
.pi-chevrons-up::before { content: '\ea44' }
.pi-clip::before { content: '\ea45' }
.pi-clipboard-check::before { content: '\ea46' }
.pi-clipboard::before { content: '\ea47' }
.pi-close-circle-solid::before { content: '\ea48' }
.pi-close-circle::before { content: '\ea49' }
.pi-close::before { content: '\ea4a' }
.pi-cloud-download::before { content: '\ea4b' }
.pi-cloud-upload::before { content: '\ea4c' }
.pi-cloud::before { content: '\ea4d' }
.pi-code::before { content: '\ea4e' }
.pi-collaboration::before { content: '\ea4f' }
.pi-computer::before { content: '\ea50' }
.pi-credit-card::before { content: '\ea51' }
.pi-crop::before { content: '\ea52' }
.pi-cross::before { content: '\ea53' }
.pi-customer-service::before { content: '\ea54' }
.pi-dashboard::before { content: '\ea55' }
.pi-data-branch::before { content: '\ea56' }
.pi-data-structure::before { content: '\ea57' }
.pi-database::before { content: '\ea58' }
.pi-diamond::before { content: '\ea59' }
.pi-direction::before { content: '\ea5a' }
.pi-document-check::before { content: '\ea5b' }
.pi-document-copy::before { content: '\ea5c' }
.pi-document-draft::before { content: '\ea5d' }
.pi-document-empty::before { content: '\ea5e' }
.pi-document-exclamation::before { content: '\ea5f' }
.pi-document-export::before { content: '\ea60' }
.pi-document-external::before { content: '\ea61' }
.pi-document-filled::before { content: '\ea62' }
.pi-document-history::before { content: '\ea63' }
.pi-document-import::before { content: '\ea64' }
.pi-document-information::before { content: '\ea65' }
.pi-document-protected::before { content: '\ea66' }
.pi-document-question::before { content: '\ea67' }
.pi-document-retract::before { content: '\ea68' }
.pi-document-review::before { content: '\ea69' }
.pi-document-seal::before { content: '\ea6a' }
.pi-document-search::before { content: '\ea6b' }
.pi-document-signed::before { content: '\ea6c' }
.pi-document-template::before { content: '\ea6d' }
.pi-document-verified::before { content: '\ea6e' }
.pi-dollars::before { content: '\ea6f' }
.pi-download::before { content: '\ea70' }
.pi-draggable::before { content: '\ea71' }
.pi-e-meterai::before { content: '\ea72' }
.pi-edit-square::before { content: '\ea73' }
.pi-edit::before { content: '\ea74' }
.pi-education::before { content: '\ea75' }
.pi-email-download::before { content: '\ea76' }
.pi-email-invitation::before { content: '\ea77' }
.pi-email-signature::before { content: '\ea78' }
.pi-email-upload::before { content: '\ea79' }
.pi-email-user::before { content: '\ea7a' }
.pi-email::before { content: '\ea7b' }
.pi-employee-tree::before { content: '\ea7c' }
.pi-envelope::before { content: '\ea7d' }
.pi-exclamation-circle-solid::before { content: '\ea7e' }
.pi-exclamation-circle::before { content: '\ea7f' }
.pi-exclamation-triangle-solid::before { content: '\ea80' }
.pi-exclamation-triangle::before { content: '\ea81' }
.pi-expand::before { content: '\ea82' }
.pi-face-recognition-scan::before { content: '\ea83' }
.pi-facebook::before { content: '\ea84' }
.pi-faq::before { content: '\ea85' }
.pi-file-network::before { content: '\ea86' }
.pi-fingerprint-scan::before { content: '\ea87' }
.pi-fingerprint::before { content: '\ea88' }
.pi-flash-off::before { content: '\ea89' }
.pi-flash-on::before { content: '\ea8a' }
.pi-flight-arrival::before { content: '\ea8b' }
.pi-flight-departure::before { content: '\ea8c' }
.pi-folder::before { content: '\ea8d' }
.pi-font-family::before { content: '\ea8e' }
.pi-font-size::before { content: '\ea8f' }
.pi-forward::before { content: '\ea90' }
.pi-forwards::before { content: '\ea91' }
.pi-gala-dinner::before { content: '\ea92' }
.pi-gift::before { content: '\ea93' }
.pi-github::before { content: '\ea94' }
.pi-google::before { content: '\ea95' }
.pi-grid-view::before { content: '\ea96' }
.pi-group-contact::before { content: '\ea97' }
.pi-happy-face::before { content: '\ea98' }
.pi-health-facility::before { content: '\ea99' }
.pi-highlight::before { content: '\ea9a' }
.pi-history::before { content: '\ea9b' }
.pi-home::before { content: '\ea9c' }
.pi-hospital::before { content: '\ea9d' }
.pi-hybrid-event::before { content: '\ea9e' }
.pi-image::before { content: '\ea9f' }
.pi-inbox::before { content: '\eaa0' }
.pi-information-circle-solid::before { content: '\eaa1' }
.pi-information-circle::before { content: '\eaa2' }
.pi-instagram::before { content: '\eaa3' }
.pi-internet::before { content: '\eaa4' }
.pi-italic::before { content: '\eaa5' }
.pi-key::before { content: '\eaa6' }
.pi-ktp::before { content: '\eaa7' }
.pi-lamp::before { content: '\eaa8' }
.pi-layer::before { content: '\eaa9' }
.pi-line-graph::before { content: '\eaaa' }
.pi-link::before { content: '\eaab' }
.pi-linkedin::before { content: '\eaac' }
.pi-list-bullets::before { content: '\eaad' }
.pi-list-numbers::before { content: '\eaae' }
.pi-list-view::before { content: '\eaaf' }
.pi-location::before { content: '\eab0' }
.pi-lock::before { content: '\eab1' }
.pi-love-favorite::before { content: '\eab2' }
.pi-map::before { content: '\eab3' }
.pi-maximize::before { content: '\eab4' }
.pi-medal::before { content: '\eab5' }
.pi-medicines::before { content: '\eab6' }
.pi-megaphone::before { content: '\eab7' }
.pi-menu-app::before { content: '\eab8' }
.pi-menu-burger::before { content: '\eab9' }
.pi-menu-horizontal::before { content: '\eaba' }
.pi-menu-vertical::before { content: '\eabb' }
.pi-message-apps::before { content: '\eabc' }
.pi-message::before { content: '\eabd' }
.pi-microsoft::before { content: '\eabe' }
.pi-minimize::before { content: '\eabf' }
.pi-money::before { content: '\eac0' }
.pi-moon::before { content: '\eac1' }
.pi-multiple-window::before { content: '\eac2' }
.pi-need-action::before { content: '\eac3' }
.pi-new-page::before { content: '\eac4' }
.pi-no-image::before { content: '\eac5' }
.pi-note::before { content: '\eac6' }
.pi-notification-off::before { content: '\eac7' }
.pi-notification::before { content: '\eac8' }
.pi-ocr-scan::before { content: '\eac9' }
.pi-one-grid-view::before { content: '\eaca' }
.pi-online-event::before { content: '\eacb' }
.pi-onsite::before { content: '\eacc' }
.pi-otp-requested::before { content: '\eacd' }
.pi-package-box::before { content: '\eace' }
.pi-pallete::before { content: '\eacf' }
.pi-path::before { content: '\ead0' }
.pi-pause::before { content: '\ead1' }
.pi-people-insurance::before { content: '\ead2' }
.pi-persona-alt::before { content: '\ead3' }
.pi-persona::before { content: '\ead4' }
.pi-pie-graph::before { content: '\ead5' }
.pi-play::before { content: '\ead6' }
.pi-print::before { content: '\ead7' }
.pi-privy-alt::before { content: '\ead8' }
.pi-privy-balance::before { content: '\ead9' }
.pi-privy::before { content: '\eada' }
.pi-profile::before { content: '\eadb' }
.pi-puzzle::before { content: '\eadc' }
.pi-qr-code-scan::before { content: '\eadd' }
.pi-qr-code::before { content: '\eade' }
.pi-qr-position-bottom-left::before { content: '\eadf' }
.pi-qr-position-bottom-right::before { content: '\eae0' }
.pi-qr-position-top-left::before { content: '\eae1' }
.pi-qr-position-top-right::before { content: '\eae2' }
.pi-question-circle-solid::before { content: '\eae3' }
.pi-question-circle::before { content: '\eae4' }
.pi-receipt-history::before { content: '\eae5' }
.pi-receipt::before { content: '\eae6' }
.pi-record::before { content: '\eae7' }
.pi-redo::before { content: '\eae8' }
.pi-refresh::before { content: '\eae9' }
.pi-remove-circle::before { content: '\eaea' }
.pi-remove::before { content: '\eaeb' }
.pi-repair::before { content: '\eaec' }
.pi-reply::before { content: '\eaed' }
.pi-report-statistics::before { content: '\eaee' }
.pi-reset::before { content: '\eaef' }
.pi-restart::before { content: '\eaf0' }
.pi-rocket::before { content: '\eaf1' }
.pi-rotate-left::before { content: '\eaf2' }
.pi-rotate-right::before { content: '\eaf3' }
.pi-sad-face::before { content: '\eaf4' }
.pi-save::before { content: '\eaf5' }
.pi-scan::before { content: '\eaf6' }
.pi-search::before { content: '\eaf7' }
.pi-section::before { content: '\eaf8' }
.pi-send::before { content: '\eaf9' }
.pi-set-default::before { content: '\eafa' }
.pi-settings::before { content: '\eafb' }
.pi-share::before { content: '\eafc' }
.pi-shield-off::before { content: '\eafd' }
.pi-shield-on::before { content: '\eafe' }
.pi-shield::before { content: '\eaff' }
.pi-shop::before { content: '\eb00' }
.pi-shopping-bag::before { content: '\eb01' }
.pi-short-text::before { content: '\eb02' }
.pi-sign-in::before { content: '\eb03' }
.pi-sign-out::before { content: '\eb04' }
.pi-signature-draw-alt::before { content: '\eb05' }
.pi-signature-draw::before { content: '\eb06' }
.pi-signature-manage::before { content: '\eb07' }
.pi-signature-text::before { content: '\eb08' }
.pi-signature::before { content: '\eb09' }
.pi-smartphone-landscape::before { content: '\eb0a' }
.pi-smartphone::before { content: '\eb0b' }
.pi-spoon-and-fork::before { content: '\eb0c' }
.pi-star-favorite-solid::before { content: '\eb0d' }
.pi-star-favorite::before { content: '\eb0e' }
.pi-stetoscop::before { content: '\eb0f' }
.pi-stop::before { content: '\eb10' }
.pi-stopwatch::before { content: '\eb11' }
.pi-strikethrough::before { content: '\eb12' }
.pi-sun::before { content: '\eb13' }
.pi-system-administrator::before { content: '\eb14' }
.pi-table::before { content: '\eb15' }
.pi-tablet-landscape::before { content: '\eb16' }
.pi-tablet::before { content: '\eb17' }
.pi-tag-all::before { content: '\eb18' }
.pi-tag::before { content: '\eb19' }
.pi-tax::before { content: '\eb1a' }
.pi-template::before { content: '\eb1b' }
.pi-text-editor::before { content: '\eb1c' }
.pi-ticket::before { content: '\eb1d' }
.pi-time::before { content: '\eb1e' }
.pi-translates::before { content: '\eb1f' }
.pi-trash::before { content: '\eb20' }
.pi-twitter::before { content: '\eb21' }
.pi-two-grid-view::before { content: '\eb22' }
.pi-underlined::before { content: '\eb23' }
.pi-undo::before { content: '\eb24' }
.pi-unlink::before { content: '\eb25' }
.pi-unlock::before { content: '\eb26' }
.pi-upload::before { content: '\eb27' }
.pi-user-biometric::before { content: '\eb28' }
.pi-user-checkmark::before { content: '\eb29' }
.pi-user-circle::before { content: '\eb2a' }
.pi-user-cross::before { content: '\eb2b' }
.pi-user-event::before { content: '\eb2c' }
.pi-user-exclamation::before { content: '\eb2d' }
.pi-user-find::before { content: '\eb2e' }
.pi-user-groups::before { content: '\eb2f' }
.pi-user-logs::before { content: '\eb30' }
.pi-user-minus::before { content: '\eb31' }
.pi-user-multiple-edit::before { content: '\eb32' }
.pi-user-multiple::before { content: '\eb33' }
.pi-user-plus::before { content: '\eb34' }
.pi-user-settings::before { content: '\eb35' }
.pi-user-square::before { content: '\eb36' }
.pi-user-transfer::before { content: '\eb37' }
.pi-user-verified::before { content: '\eb38' }
.pi-user-wait::before { content: '\eb39' }
.pi-video-camera::before { content: '\eb3a' }
.pi-view-off::before { content: '\eb3b' }
.pi-view::before { content: '\eb3c' }
.pi-voucher::before { content: '\eb3d' }
.pi-wallet::before { content: '\eb3e' }
.pi-whatsapp::before { content: '\eb3f' }
.pi-zoom-in::before { content: '\eb40' }
.pi-zoom-out::before { content: '\eb41' }

