:root {
  --font-family-base: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --c-brand: #0065D1;
  --c-brand-light: #408BDD;
}

ul {
  @apply list-disc;
}
