:root {
  --font-family-base: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --c-brand: #0065D1;
  --c-brand-light: #408BDD;
  --code-bg-color: #0b2138;
  --c-text-light-1: #232323;
  --c-text-light-2: #5A5A5A;
  --c-text-light-3: #919191;
}

.content ul {
  @apply list-disc;
}

.content th, td {
  @apply border-primary-25;
}

.content thead > tr:first-child,
.content tr:nth-child(2n) {
  @apply bg-primary-5;
}

.content .token.attr-name {
  @apply text-[#cc99cd];
}
