:root {
  --vp-font-family-base: theme(fontFamily.sans);
  --vp-c-brand: theme(colors.blue.40);
  --vp-c-brand-light: theme(colors.blue.50);
  --vp-c-brand-dark: darken(theme(colors.blue.40), 5%);
  --c-text-light-1: theme(colors.gray.100);
  --c-text-light-2: theme(colors.gray.75);
  --c-text-light-3: theme(colors.gray.45);
  --code-bg-color: #0b2138;
}

:root.dark {
  --c-text-light-1: theme(colors.base.white);
  --c-text-light-2: theme(colors.gray.25);
  --c-text-light-3: theme(colors.gray.45);
  --c-bg: #0b1a28;
  --code-bg-color: #132739;
  --code-inline-bg-color: #132739;
}

/*
* SIDEBAR
*/
.sidebar {
  @media (min-width: 960px) {
    @apply w-60;
  }
}

.VPSidebar > .nav {
  @apply block pl-0;
}

/*
* CONTENT
*/
.content {
  h1:not(.h1,.h2,.h3,.h4,.h5,.h6) {
    img {
      @apply inline-block mr-7;

      + .header-anchor {
        @apply mt-7 -ml-7;
      }
    }
  }

  h2:not(.h1, .h2, .h3, .h4, .h5, .h6) {
    @apply border-b-transparent;
  }


  h4:not(.h1, .h2, .h3, .h4, .h5, .h6) {
    @apply mt-6;
  }

  h5:not(.h1, .h2, .h3, .h4, .h5, .h6) {
    @apply mt-12 mb-4;

    + p {
      @apply mt-0;
    }
  }

  ul {
    @apply list-disc;

    &.root,
    &.nested {
      @apply list-none;
    }
  }

  .token.attr-name {
    @apply text-[#cc99cd];
  }

  .table-list {
    @apply p-3 mt-4 border rounded shadow-sm dark:border-dark-subtle;

    table {
      @apply table w-full my-0;

      thead > tr:first-child {
        th, td {
          @apply dark:bg-transparent;
        }
      }

      tr {
        @apply bg-transparent border-t-0 dark:bg-transparent;
      }

      th {
        @apply font-bold bg-transparent border-0 dark:bg-transparent text-default dark:text-dark-default ;
      }

      td {
        @apply border-0 border-t border-[color:var(--vp-c-divider)] bg-transparent dark:bg-transparent;
      }
    }
  }
}

.vp-doc {
  .preview {
    @apply text-default dark:text-dark-default;

    h1, h2, h3, h4, h5, h6 {
      &:not(.subheading, .heading) {
        @apply pt-0 mt-0;
      }
    }

    h5 {
      &:not(.subheading, .heading) {
        @apply mb-2;
      }
    }
  }

  .header-anchor {
    @apply pr-0 -ml-6;
  }

  a,
  .preview a {
    @apply hover:no-underline;

    &:not(.nav__link, .btn, .navbar__brand, .sidebar__brand, .dropdown__item, .list-group__item, .breadcrumbs__item__link) {
      @apply text-link dark:text-dark-link;
    }
  }

  a {
    &:not(.nav__link, .btn, .navbar__brand, .sidebar__brand, .dropdown__item, .list-group__item, .breadcrumbs__item__link) {
      @apply underline decoration-solid hover:no-underline;
    }

    &:not([class^='freetext-'], [class*='freetext-']) {
      @apply font-inherit;
    }

    &:where(.freetext--hyperlink) {
      @apply decoration-solid;
    }

    &:where(.btn) {
      @apply no-underline;
    }
  }

  h1 {
    &:is(.h1) {
      @apply mt-0 text-7xl;
    }
  }

  h2 {
    &:is(.h2) {
      @apply pt-0 m-0 text-6xl border-t-0;
    }
  }

  h3 {
    &:is(.h3) {
      @apply mt-0 text-5xl;
    }
  }

  p {

    &.lh {
      &-none {
        @apply leading-none;
      }

      &-tightest {
        @apply leading-tightest;
      }

      &-tighter {
        @apply leading-tighter;
      }

      &-tight {
        @apply leading-tight;
      }

      &-normal {
        @apply leading-normal;
      }

      &-wide {
        @apply leading-wide;
      }
    }
  }

  .nav__link__icon {
    img {
      @apply max-w-none;
    }
  }

  ul {
    &:where(.nav) {
      @apply p-0 m-0;
    }
  }

  .nav {
    li::marker {
      content: '';
    }
  }

  .navbar {
    li + li {
      @apply mt-0;
    }
  }

  > * > table {
    @apply min-w-full md:table;

    thead tr {
      @apply border-t-0;
    }

    tr {
      @apply border-default;
      @apply dark:border-dark-default;
    }

    th {
      @apply text-xs bg-ground;
      @apply dark:bg-dark-ground;
    }

    td {
      @apply bg-default;
      @apply dark:bg-dark-default;

      > code {
        @apply whitespace-pre;
      }
    }

    th,
    td {
      &:not(:first-child) {
        @apply border-l-0;
      }

      &:not(:last-child) {
        @apply border-r-0;
      }
    }
  }
}

.VPNav .divider {
  @apply h-0 my-0;
}
