:root {
  --vp-font-family-base: theme(fontFamily.sans);
  --vp-c-brand: theme(colors.blue.40);
  --vp-c-brand-light: theme(colors.blue.50);
  --vp-c-brand-dark: darken(theme(colors.blue.40), 5%);
  --c-text-light-1: theme(colors.gray.100);
  --c-text-light-2: theme(colors.gray.75);
  --c-text-light-3: theme(colors.gray.45);
  --code-bg-color: #0b2138;
}

:root.dark {
  --c-text-light-1: theme(colors.base.white);
  --c-text-light-2: theme(colors.gray.25);
  --c-text-light-3: theme(colors.gray.45);
  --c-bg: #0b1a28;
  --code-bg-color: #132739;
  --code-inline-bg-color: #132739;
}

/*
* SIDEBAR
*/
.sidebar {
  @media (min-width: 960px) {
    @apply w-60;
  }
}

.VPSidebar > .nav {
  @apply block pl-0;
}

/*
* CONTENT
*/
.content {
  h1 {
    img {
      @apply inline-block mr-7;

      + .header-anchor {
        @apply mt-7 -ml-7;
      }
    }
  }

  h2 {
    @apply border-b-transparent;
  }


  h4 {
    @apply mt-6;
  }

  h5 {
    @apply mt-12 mb-4;

    + p {
      @apply mt-0;
    }
  }

  ul {
    @apply list-disc;

    &.root,
    &.nested {
      @apply list-none;
    }
  }

  th, td {
    @apply border-accent dark:border-on-emphasis-subtle;
  }

  thead > tr:first-child,
  tr:nth-child(2n) {
    @apply bg-accent dark:bg-emphasis-subtle;
  }

  .token.attr-name {
    @apply text-[#cc99cd];
  }
}

.vp-doc {
  .header-anchor {
    @apply pr-0 -ml-6;
  }

  a {
    @apply font-inherit text-inherit;
  }

  .nav__link__icon {
    img {
      @apply max-w-none;
    }
  }

  ul {
    &:where(.nav) {
      @apply p-0 m-0;
    }
  }

  .nav {
    li::marker {
      content: '';
    }
  }

  .navbar {
    li + li {
      @apply mt-0;
    }
  }
}
