:root {
  --vp-font-family-base: theme(fontFamily.sans);
  --vp-c-brand: theme(colors.blue.40);
  --vp-c-brand-light: theme(colors.blue.50);
  --vp-c-brand-dark: darken(theme(colors.blue.40), 5%);
  --c-text-light-1: theme(colors.gray.100);
  --c-text-light-2: theme(colors.gray.75);
  --c-text-light-3: theme(colors.gray.45);
  --code-bg-color: #0b2138;
}

:root.dark {
  --c-text-light-1: theme(colors.base.white);
  --c-text-light-2: theme(colors.gray.25);
  --c-text-light-3: theme(colors.gray.45);
  --c-bg: #0b1a28;
  --code-bg-color: #132739;
  --code-inline-bg-color: #132739;
}

/*
* SIDEBAR
*/
.sidebar {
  @media (min-width: 960px) {
    @apply w-60;
  }
}

.VPSidebar > .nav {
  @apply block pl-0;
}

/*
* CONTENT
*/
.content {
  h1:not(.h1,.h2,.h3,.h4,.h5,.h6) {
    img {
      @apply inline-block mr-7;

      + .header-anchor {
        @apply mt-7 -ml-7;
      }
    }
  }

  h2:not(.h1, .h2, .h3, .h4, .h5, .h6) {
    @apply border-b-transparent;
  }


  h4:not(.h1, .h2, .h3, .h4, .h5, .h6) {
    @apply mt-6;
  }

  h5:not(.h1, .h2, .h3, .h4, .h5, .h6) {
    @apply mt-12 mb-4;

    + p {
      @apply mt-0;
    }
  }

  ul {
    @apply list-disc;

    &.root,
    &.nested {
      @apply list-none;
    }
  }

  th, td {
    @apply border-info dark:border-subtle;
  }

  thead > tr:first-child,
  tr:nth-child(2n) {
    @apply bg-info dark:bg-inverse;
  }

  .token.attr-name {
    @apply text-[#cc99cd];
  }

  .table-list {
    @apply mt-4 p-3 rounded border shadow-sm;

    table {
      @apply table w-full my-0;

      tr {
        @apply border-t-0 bg-transparent;
      }

      th {
        @apply border-0 bg-transparent font-bold text-default;
      }

      td {
        @apply border-0 border-t border-[color:var(--vp-c-divider)];
      }
    }
  }
}

.vp-doc {
  .header-anchor {
    @apply pr-0 -ml-6;
  }

  a {
    @apply text-link;

    &:is(.freetext) {
      @apply text-inherit;
    }

    &:not(.nav__link, .btn, .navbar__brand) {
      @apply underline decoration-solid hover:no-underline;
    }

    &:not(.freetext--medium) {
      @apply font-inherit;
    }

    &:where(.freetext--hyperlink) {
      @apply decoration-solid;
    }
  }

  h1 {
    &:is(.h1) {
      @apply mt-0 text-7xl;
    }
  }

  h2 {
    &:is(.h2) {
      @apply m-0 border-t-0 pt-0 text-6xl;
    }
  }

  h3 {
    &:is(.h3) {
      @apply mt-0 text-5xl;
    }
  }

  p {
    
    &.lh {
      &-none {
        @apply leading-none;
      }

      &-tightest {
        @apply leading-tightest;
      }

      &-tighter {
        @apply leading-tighter;
      }

      &-tight {
        @apply leading-tight;
      }

      &-normal {
        @apply leading-normal;
      }

      &-wide {
        @apply leading-wide;
      }
    }
  }

  .nav__link__icon {
    img {
      @apply max-w-none;
    }
  }

  ul {
    &:where(.nav) {
      @apply p-0 m-0;
    }
  }

  .nav {
    li::marker {
      content: '';
    }
  }

  .navbar {
    li + li {
      @apply mt-0;
    }
  }
}
